* {
    position: relative;
}

body {
    background: url("../img/back.jpg");

}
a {
    color: black;
    text-decoration: none;
}
/* Каталог товаров */
/*TODO CHANGE ITEMS STYLE*/
/*.good-item {*/
/*    margin: 10px 0;*/
/*    padding: 20px;*/
/*    border: solid 1px gray;*/
/*    border-radius: 3px;*/
/*}*/

.good-item__id {
    padding-top: 30px;
    color: steelblue;
}

.good-item__name {
    padding-top: 10px;
    font-size: 1.1em;
}

.good-item__price {
    padding-top: 10px;
    color: red;
}

.good-item__btn-add {
    margin-top: 30px;
}

/* Корзина */

.cart-item__btn-dec-count {
    margin-right: 10px;
    cursor: pointer;
}

.cart-item__btn-inc-count {
    margin-left: 10px;
    cursor: pointer;
}

.cart-item__btn-remove {
    cursor: pointer;
}

/*.slider-container {*/
/*    padding-top: 75px;*/
/*    width: 50%;*/
/*    margin: auto;*/
/*    margin-top: 15px;*/
/*    margin-bottom: 15px;*/
/*    text-align: center;*/
/*}*/
/*.slider img {*/
/*    text-align: center;*/
/*    margin: 15px auto 10px;*/
/*    width: 50%;*/
/*    height: 50%;*/
/*}*/
.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #359133;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}

#nav-list1 a {
    color: #951C49;
    text-align: center;
}

#nav-list1 a:hover {
    background: #E7E7E7;
}

#nav-list1 a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;
}

#phone div { /* We Deliver */
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.modal {
    z-index: 99999;
}

.solid {
    border: 2px solid black;
}

.dashed {
    border-top: 2px dashed black;
}

.panel-footer {
    margin-top: 70px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba(103, 103, 103, 0.83);
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#hours, #address {
    line-height: 2;
}

#hours > span, #address > span {
    font-size: 1.3em;
}

#address p {
    color: #2d6628;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}

.text {
    padding-top: 7%;
    color: black;
}

.container-form {
    padding-bottom: 20px;
    padding-top: 40px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.container-form > h1 {
    font-weight: bold;
    font-size: 37px;
    text-align: center;
}

.container-form form {
    text-align: center;
    border: 5px solid black;
}

.container-form input {
    margin: 10px 10px 10px 10px;
}

.good-item {
    display: inline-block;
    border: 1px solid black;
    margin: 1.5%;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    background: #ffffff;
}

.goood-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.good-item img {
    width: 50%;
    height: 50%;
}

.productName {
    margin-top: 0.8%;
}

.price-block {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.button {
    width: 100%;
    height: 100%;
}

.whenPrint {
    display: none;
}

del {
    font-size: 10pt;
    color: #a9a9a9;
}

.price {
    display: inline-block;
    font-size: 19pt;
}

@media print {
    .button {
        display: none;

    }

    .whenPrint {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .text {
        padding-top: 40px;
    }

    .item {
        /*margin-top: 20px;*/
        /*margin-bottom: 20px;*/
        margin: 20px;
        overflow: hidden;
    }

    .navbar-brand h1 { /* Restaurant name */
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }

    #collapsable-nav a {
        font-size: 1.2em;
    }
}

@media (max-width: 920px) {
    .text {
        padding-top: 65px;
    }
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
